* {
    margin: 0;
}

.reg {
    color: white !important;
}

body {
    margin: 0;
    padding: 0;
}

.categories div {
    width: 150px;
}

.card-div {
    background-color: black;
    opacity: 0.8;
    height: 150px;
    margin-top: 250px;
}

.cardimg {
    height: 400px;
    object-fit: cover;
}

.game-link {
    text-decoration: none;
    color: #fff;
}

    .game-link:hover {
        color: #198754;
    }
