@{
    ViewData["Title"] = "Success page";
}

<a onclick="clearData();" asp-controller="game" asp-action="index" class="btn btn-primary mt-3"><i class="las la-arrow-left"></i> Back to home</a>

<h1 class="text-center my-5">
    Your order was successfully confirmed!
</h1>

