<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Store</title>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


    <!-- ✅ load jQuery ✅ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body onload="getCartItemsCount();">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid mx-4">
            <a asp-controller="game" asp-action="index" class="navbar-brand">
                <img src="~/images/logo.png" alt="Bootstrap" width="60" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a asp-controller="game" asp-action="index" class="nav-link active" aria-current="page">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active btn btn-success px-3" asp-controller="game" asp-action="add">+ Add Game</a>
                    </li>
                </ul>

                <div class="me-5">
                    <a onclick="fillData()" class="position-relative cart" data-bs-toggle="modal" data-bs-target="#cartModal">
                        <i class="las la-shopping-cart"></i>
                        <span id="itemsCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                        </span>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Your cart items</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="cart-items" id="datadiv">
                                        <h4>There is no any items yet!</h4>
                                    </div>
                                </div>
                                <div class="modal-foter">
                                    <hr>
                                    <div class="div1 d-flex justify-content-between">
                                        <span>Total price: </span>
                                        <span id="total">$ 0</span>
                                    </div>

                                    <div class="div2">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button onclick="checkOut();" type="button" class="btn btn-warning">Buy now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <partial name="_LoginPartial.cshtml"/>
                @*<a class="reg btn btn-outline-success" href="#">Sign in</a>*@
            </div>
        </div>
    </nav>

    <div class="container">
        <main class="main-body" role="main">
            @RenderBody()
        </main>
    </div>

    <script asp-append-version="true">
        function checkOut() {
            const items = JSON.parse(localStorage.getItem('cartItems'));
           
            if (items.length != 0 || items == null) {
                jQuery.ajax({
                method: "POST",
                url: '/Order/CreateOrderDetails',
                data: { json: JSON.stringify(items)},
                dataType: "html",
                success: function(result) {
                    $("html").html(result);
                }
            });}
            else {
                alert('Your cart is empty!');
            }
        }
    </script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
